/logs/
/conf/
/app/sql/
/app/public/wp-admin/
/app/public/wp-content/uploads/
/app/public/wp-content/themes/twentytwentyone/
/app/public/wp-content/themes/twentytwentythree/
/app/public/wp-content/themes/twentytwentytwo/